= simple_form_for @archive do |f|
  = f.input :title, label: "Cím"
  = f.input :adate, label: "Dátum"
  = f.input :body, label: "Test", :input_html => { :rows => 20, :style => 'height: auto'}
  = f.input :img, label: "Képek", :input_html => { :rows => 10, :style => 'height: auto'}
  = f.submit "Mentés", class: "button"
  = link_to "Mégse", root_path, class: "button secondary"