= simple_form_for @post do |f|
  = f.input :title, label: "Cím"
  = f.input :body, label: "Test", :input_html => { :rows => 20, :style => 'height: auto'}
  = f.simple_fields_for :photos do |p|
    = p.input :image
  %ul.button-group
    %li
      = f.button :submit, "Mentés", class: 'button'
    %li
      = link_to 'Mégse', root_path, class: 'button secondary'